.App {
  text-align: center;
  background-color: #E9E6C7;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.welcomeText{
  text-align: center;
  /* doesn't seem to be working!! */
}
.inputFile{
  text-align: center;
  margin: auto;
  display: table;
}
h3 {
  color: #EC5B0E;
}

#inputFile ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
#inputFile li{
    display: inline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
