.App {
  text-align: center;
  background-color: #CED8DF;
}

.welcomeText{
  text-align: center;
  color: #E9E6C7;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}


.inputFile{
  text-align: center;
  margin: auto;
  display: table;
}
p{
  text-align: left;
}
h3 {
  color: #E32227;
  text-align: left;
}

#fileForm ul{
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: inline-flex; */
}
#fileForm li{
    display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
